{# templates/includes/footer.html #}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Mi Proyecto FastAPI</strong> por <a>David Santiago Aranda Rodriguez</a>. El código fuente está licenciado
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
    <p>
        <span class="icon-text">
            <span class="icon"><i class="mdi mdi-copyright"></i></span>
            <span>2025 Todos los derechos reservados.</span>
        </span>
    </p>
  </div>
</footer>