
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Game and consoles</strong> by <a David Santiago Aranda Rodriguez</a>.
      The website content different data in csv files updated in Kagle.
    </p>
      <p>
          <a href="https://www.kaggle.com/datasets/tayyarhussain/best-selling-game-consoles-of-all-time"
        >best selling game consoles of all time</a
      >.
      </p>
      <p>
          <a href="https://www.kaggle.com/datasets/mohamedhanyyy/video-games/discussion?sort=undefined"
        >video games</a
      >.
      </p>
  </div>
</footer>