{# templates/includes/navbar.html #}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/statics/img.jpg" alt="Logo">
      <span class="ml-2 has-text-weight-bold is-size-5">Mi Colección</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  {# templates/includes/navbar.html (fragmento del navbar-start) #}
  <a class="navbar-item" href="/about"> {# ¡Añade esta línea! #}
    <span class="icon"><i class="mdi mdi-information-variant"></i></span>
    <span>Acerca de</span>
  </a>
</div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <span class="icon"><i class="mdi mdi-home"></i></span>
        <span>Inicio</span>
      </a>
      <a class="navbar-item" href="/games/view">
        <span class="icon"><i class="mdi mdi-gamepad-variant"></i></span>
        <span>Juegos</span>
      </a>
      <a class="navbar-item" href="/consoles/view">
        <span class="icon"><i class="mdi mdi-console"></i></span>
        <span>Consolas</span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          </div>
      </div>
    </div>
  </div>
</nav>