{% extends 'base.html' %}

{% block title %}Acerca de Mí{% endblock %}

{% block content %}
<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white mb-4">
        Sobre Quién soy y para Dónde voy...
      </h1>
      <p class="subtitle is-4 has-text-white has-text-weight-light">
          Mi nombre es David Santiago Aranda Rodríguez
      </p>
    </div>
  </div>
</section>

<div class="container mt-6 mb-6">
  <div class="columns is-multiline is-centered">

    <div class="column is-8-tablet is-6-desktop">
      <div class="box has-background-light p-5">
        <h2 class="title is-4 has-text-centered has-text-grey-darker mb-4">Mi Historia</h2>
        <p class="content is-medium has-text-grey-dark">
          Soy actual estudiante del programa de **Ingeniería de sistemas y computación** en la Universidad Católica de Colombia.
        </p>
        <p class="content is-medium has-text-grey-dark mt-4">
          Soy apasionado por la tecnología y los videojuegos, desde pequeño tuve la fortuna de poseer una Nintendo 2DS, luego un PS2, PSPGo y la historia continúa.
        </p>
      </div>
    </div>

    <div class="column is-8-tablet is-6-desktop">
      <div class="box has-background-light p-5">
        <h2 class="title is-4 has-text-centered has-text-grey-darker mb-4">¿Qué me gusta hacer?</h2>
        <div class="content is-medium has-text-grey-dark">
          <ul class="fa-ul"> <li>
              <span class="icon-text">
                <span class="icon has-text-info is-size-4"><i class="mdi mdi-tools"></i></span>
                <span>**Técnico en producción de eventos.** Reparo todo tipo de pantalla LED.</span>
              </span>
            </li>
            <li class="mt-3">
              <span class="icon-text">
                <span class="icon has-text-success is-size-4"><i class="mdi mdi-music"></i></span>
                <span>**Apasionado por la música.** Todo tipo de música que me haga sentir una emoción es de mi agrado.</span>
              </span>
            </li>
            <li class="mt-3">
              <span class="icon-text">
                <span class="icon has-text-warning is-size-4"><i class="mdi mdi-paw"></i></span>
                <span>**Amo los animales domésticos.** Pienso que son la mejor compañía para una persona que le agrada trasnochar programando :)</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column is-8-tablet is-10-desktop has-text-centered mt-5">
      <p class="is-size-5 has-text-grey-darker has-text-weight-semibold">
        ¡Gracias por visitar el sitio web! Es motivación para mejorar día a día.
      </p>
    </div>

  </div>
</div>
{% endblock %}