{% extends "base.html" %}

{% block title %}Inicio - Mi Colección{% endblock %}

{% block content %}
<div class="content has-text-centered">
    <h1 class="title is-2">Bienvenido</h1>
    <p class="subtitle is-4">Explora nuestras colecciones de videojuegos y consolas.</p>

    <div class="buttons is-centered mt-5">
        <a href="/games/view" class="button is-primary is-medium">
            <span class="icon"><i class="mdi mdi-gamepad-variant"></i></span>
            <span>Ver todos los juegos</span>
        </a>
        <a href="/consoles/view" class="button is-link is-medium">
            <span class="icon"><i class="mdi mdi-television-classic"></i></span>
            <span>Ver todas las consolas</span>
        </a>
    </div>

    <div class="mt-6">
        <a href="/about" class="button is-light is-medium">
            <span class="icon"><i class="mdi mdi-information-outline"></i></span>
            <span>Sobre nosotros</span>
        </a>
    </div>
</div>
{% endblock %}
